<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miarowski.f1calendar">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.F1Calendar">
        <activity
            android:name=".TeamActivity"
            android:exported="false"
            android:label="@string/team_activity_name" />
        <activity
            android:name=".TeamsCategoryActivity"
            android:exported="false"
            android:label="@string/team_activity_name" />
        <activity
            android:name=".GrandPrixActivity"
            android:exported="false"
            android:label="@string/grandprix_activity_name" />
        <activity
            android:name=".GrandPrixCategoryActivity"
            android:exported="false"
            android:label="@string/grandprix_activity_name" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InfoActivity"
            android:exported="false"
            android:label="@string/info_activity_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>